[submodule "code/BitLibrary"]
	path = code/BitLibrary
	url = git@jontedesco.net:BitLibrary.git
[submodule "code/CollaborativeMusicFilter"]
	path = code/CollaborativeMusicFilter
	url = git@jontedesco.net:CollaborativeMusicFilter.git
[submodule "code/DistributedFileSystem"]
	path = code/DistributedFileSystem
	url = git@jontedesco.net:DistributedFileSystem.git
[submodule "code/DistributedHashTable"]
	path = code/DistributedHashTable
	url = git@jontedesco.net:DistributedHashTable.git
[submodule "code/DistributedSharedMemory"]
	path = code/DistributedSharedMemory
	url = git@jontedesco.net:DistributedSharedMemory.git
[submodule "code/FdClosureCalculator"]
	path = code/FDClosureCalculator
	url = git@jontedesco.net:FdClosureCalculator.git
[submodule "code/FlightData"]
	path = code/FlightData
	url = git@jontedesco.net:FlightData.git
[submodule "code/GenerationsWebsite"]
	path = code/GenerationsWebsite
	url = git@jontedesco.net:GenerationsWebsite.git
[submodule "code/PyGoogle"]
	path = code/PyGoogle
	url = git@jontedesco.net:PyGoogle.git
[submodule "code/SportSQL"]
	path = code/SportSQL
	url = git@jontedesco.net:SportSQL.git
