[submodule "code/BitLibrary"]
	path = code/BitLibrary
	url = git@jontedesco.net:BitLibrary.git
[submodule "code/CollaborativeMusicFilter"]
	path = code/CollaborativeMusicFilter
	url = git@jontedesco.net:CollaborativeMusicFilter.git
[submodule "code/DistributedFileSystem"]
	path = code/DistributedFileSystem
	url = git@jontedesco.net:DistributedFileSystem.git
