{% extends 'page.html' %}

{% block onload %} onload="showPage(1, 10, true);" {% endblock %}

{% block content %}
    <div id="content">
        <div class="bgtop">
            <div class="bgbtm">
                <div id="bg1">
                    <div id="bg2">
                        <div id="bg3">
                            <div id="box1" class="box-style1">
                                <div class="content">

                                    {# The blog post content itself #}
                                    <div class="post">
                                        <h3>{{ post.title|safe }}</h3>
                                        <i>{{ post.subtitle|safe }}</i> &nbsp; &#183; &nbsp; {{ post.timestamp|date:"F j Y" }} <br/><br/>
                                        {{ post.content|safe }}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block after_load%}
    SyntaxHighlighter.all();
{% endblock %}