{% extends 'page.html' %}

{% block content %}
    <div id="content">
        <div class="bgtop">
            <div class="bgbtm">
                <div id="bg1">
                    <div id="bg2">
                        <div id="bg3">
                            <div id="box1" class="box-style1">
                            <h2 class="title"><span>Under</span> Construction</h2>
                            <p class="byline">This page is still under construction!</p>

                                <div class="content">
                                    <div style="height:650px;">
                                        <center>
                                            <br/><br/><br/><br/><br/>
                                            <img
                                                    width=500
                                                    src="../../images/under_construction.png"
                                                    alt="Under Construction"
                                            />
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}