<div id="content">
    <div class="bgtop">
        <div class="bgbtm">
            <div id="bg1">
                <div id="bg2">
                    <div id="bg3">
                        <div id="box1" class="box-style1">
                            <center>
                                %s <br/><br/>
                            </center>
                            %s
                            <center>
                                <br/><br/> %s <br/><br/>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
