<div class="sidebox">
    <div class="bgtop">
        <div class="bgbtm">
            <div class="box-style2">
                <h1 class="title"><span>Contact</span> Information</h1>
                <ul class="style1">
                    <li>
                        <div class="image-style3">
                            <span>
                                <img
                                    src="/static/admin/images/sidebar/email_logo.png"
                                    width="54"
                                    height="57"
                                    alt="Email"
                                />
                            </span>
                            <div class="thumbnails"></div>
                        </div>
                        <h3>Email</h3>
                            <a href="mailto:jon@jontedesco.net">jon@jontedesco.net</a><br/>
                    </li>
                    <li>
                        <div class="image-style3">
                            <span>
                                <img
                                    src="/static/admin/images/sidebar/linkedin_logo.png"
                                    width="54"
                                    height="57"
                                    alt="LinkedIn"
                                />
                            </span>
                            <div class="thumbnails"></div>
                        </div>
                        <br/>
                        <h3>LinkedIn</h3>
                        <a href="http://www.linkedin.com/in/jontedesco">linkedin.com/in/jontedesco</a>
                    </li>
                </ul><br/><br/>

                <h1 class="title"><span>Online</span> Information</h1>
                <ul class="style1">
                    <li>
                        <div class="image-style3">
                            <span>
                                <img
                                    src="/static/admin/images/sidebar/github_logo.png"
                                    width="54"
                                    height="57"
                                    alt="Github"
                                />
                            </span>
                            <div class="thumbnails"></div>
                        </div>
                        <h3>GithHub</h3>
                        <a href="http://github.com/jtedesco/">github.com/jtedesco</a>
                    </li>
                    <li>
                        <div class="image-style3">
                            <span>
                                <img
                                    src="/static/admin/images/sidebar/stackoverflow_logo.png"
                                    width="54"
                                    height="57"
                                    alt="StackOverflow"
                                />
                            </span>
                            <div class="thumbnails"></div>
                        </div>
                        <br/>
                        <h3>StackOverflow</h3>
                        <a href="http://stackoverflow.com/users/834479/jon">stackoverflow.com</a>
                    </li>
                </ul><br/><br/>
            </div>
        </div>
    </div>
</div>
