{% extends "page.html" %}

{% block content %}

    <div id="content">
        <div class="bgtop">
            <div class="bgbtm">
                <div id="bg1">
                    <div id="bg2">
                        <div id="bg3">
                            <div id="box2" class="box-style1">
                                <h1 class="title"><span>about</span> me</h1>

                                <p class="byline">A little about myself</p>

                                <div class="content">
                                    <div class="image-style1">
                                        <span>
                                            <img
                                                    src="/static/admin/images/about_me/senior_picture.jpg"
                                                    width="230"
                                                    height="196"
                                                    alt="Jon Tedesco"
                                                    />
                                        </span>

                                        <div class="thumbnails"></div>
                                    </div>
                                    <p>My name is Jon Tedesco, and I am graduate student studying computer science at the
                                        University of Illinois at Urbana Champaign, pursuing the accelerated master's
                                        program at the University of Illinois.
                                        <br/><br/>
                                        I have a passion for technology, research, and excellence, and when I am not
                                        working on school projects or spending time on the job, I develop personal
                                        projects, explore new technologies, and stay involved on campus
                                        through professional organizations and musical activities.
                                        <br/><br/>
                                        As I approach the next chapter of my career, I look forward to confronting
                                        interesting challenges in the field of software engineering, and seek a
                                        company in need of competitive technical skills problem solving ability,
                                        adaptability, determination, and creativity.
                                        <br/><br/>
                                    </p>

                                    <h1 class="title"><span>course</span> work</h1>

                                    <p class="byline" style="margin:0; padding-bottom:10px;">What I'm learning this
                                        semester</p>
                                    <br/>

                                    <div style="padding-left:15px;">
                                        <p>
                                            <strong>CS 412 &#183; Data Mining</strong><br/>
                                            Concepts, techniques, and systems of data warehousing and data mining.
                                            Design and implementation of data warehouse and on-line analytical
                                            processing (OLAP) systems; data mining concepts, methods, systems,
                                            implementations, and applications.
                                            <br/><br/>

                                            <strong>CS598 &#183; Machine Learning for Signal Processing</strong><br/>
                                            Today we see an increasing need for machines that can understand complex
                                            real-world signals, such as speech, images, movies, music, biological and
                                            mechanical readings, etc. In this course we will cover the fundamentals of
                                            machine learning and signal processing as they pertain to this goal, as well
                                            as exciting recent developments. This class covers how to decompose, analyze,
                                            classify, detect and consolidate signals, and examine various commonplace
                                            operations such as finding faces from camera feeds, organizing personal
                                            music collections, designing speech dialog systems and understanding movie
                                            content.
                                            <br/><br/>

                                            <strong>CS597 &#183; Thesis Study</strong><br/>
                                            Independent work towards master's thesis in graph mining.
                                            <br/><br/>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="two-columns">
                    <div id="col1" class="boxes box-style1">
                        <div class="top">
                            <div class="btm">
                                <h1 class="title" style="margin:0px; padding:0px;"><span>current</span> work</h1>

                                <p class="byline" style="margin:0px; padding:0px; padding-bottom:10px;">Current
                                    extracurricular work</p>

                                <div class="image-style2"><span><img
                                        src="/static/admin/images/about_me/siebel_center.jpg"
                                        width="229" height="97" alt=""/></span>

                                    <div class="thumbnails"></div>
                                </div>
                                <div class="content">
                                    <p>
                                        <strong>Software Developer for CoMoTo</strong><br/><br/>
                                        Since Fall 2010, I have helped develop software for the
                                        <strong><a href="http://comoto.cs.illinois.edu/">CoMoTo</a></strong> project,
                                        or <strong>Co</strong>llaboration <strong>Mo</strong>nitoring
                                        <strong>To</strong>olkit.
                                        This software uses advanced software similarity analysis tools to help
                                        instructors detect cheating in several mainstream undergraduate classes.
                                        However, our team likewise uses the tool to study how students collaborate
                                        and how students learn in these classes.
                                    </p><br/>

                                    <div class="image-style2" style="padding-bottom:0px;"><span><img
                                            src="/static/admin/images/about_me/network.png" width="229" height="97"
                                            alt=""/></span>

                                        <div class="thumbnails"></div>
                                    </div>
                                    <br/>

                                    <p>
                                        <strong>Programming Studio Moderator</strong><br/><br/>
                                        Since Spring 2011, I have been acting as an undergraduate teaching assistant for
                                        the undergraduate
                                        programming studio course, CS 242, through which I help students with
                                        substantive
                                        software development projects and real-world programming practices.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="col2" class="boxes box-style1">
                        <div class="top">
                            <div class="btm">
                                <h2 class="title" style="margin:0px; padding:0px;"><span>extracurricular</span>
                                    activities</h2>

                                <p class="byline" style="margin:0px; padding:0px; padding-bottom:10px;">How I spend my
                                    free time</p>

                                <div class="content"><br/>

                                    <p>
                                        <strong>P.U.R.E.</strong><br/><br/>
                                        For the past year, I have actively participated in
                                        <strong><a href="https://wiki.engr.illinois.edu/display/PURE/Home">P.U.R.E.</a></strong>,
                                        or <strong>P</strong>romoting <strong>U</strong>ndergraduate <strong>R</strong>esearch
                                        in <strong>E</strong>ngineering, as the liason for the computer science
                                        department.
                                        We strive to involve undergraduates, particularly underclassmen, in
                                        undergraduate
                                        research by acting as an intermediary between undergraduate students, and
                                        graduate students and faculty, placing new researchers into active research
                                        projects each semester. Many of these students continue long term research
                                        with their mentors, and we believe this experience is a critical component
                                        of an undergraduate education.
                                    </p>

                                    <div class="image-style2" style="padding-bottom:0px;"><span><img
                                            src="/static/admin/images/about_me/band.jpg" width="229" height="97"
                                            alt=""/></span>

                                        <div class="thumbnails"></div>
                                    </div>
                                    <br/>

                                    <p>
                                        <strong>Band</strong><br/><br/>

                                        Each semester, I spend my time in several musical ensembles on campus playing
                                        the saxophone. During my time here, I have participated regularly in concert
                                        ensembles, the <a href="http://bands.illinois.edu/content/MI/">Marching
                                        Illini</a>,
                                        the UIUC basketball band, and jazz ensembles.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}