{% extends "page.html" %}

{% block content %}
    <div id="content">
        <div class="bgtop">
            <div class="bgbtm">
                <div id="bg1">
                    <div id="bg2">
                        <div id="bg3">
                            <div id="box1" class="box-style1">
                                <h1 class="title">
                                    <span>current</span> r&eacute;sum&eacute;
                                    <div style="float:right; padding-right:10px; padding-top:10px; font-size:16px;">
                                        <a style="font-size: 14px; letter-spacing: normal; font-weight: normal; padding-bottom:5px;" href="http://resume.jontedesco.net/">Current R&eacute;sum&eacute;</a>
                                        &nbsp;&nbsp;
                                        <img src="/static/admin/images/adobe_logo.gif" width=17> &nbsp;
                                    </div>
                                </h1>
                                <br/>
                                <div class="content">
                                    <h2>Summary</h2>
                                    <p>
                                        Student, developer, and researcher seeking a challenging, cutting-edge software
                                        engineering position at a company with a need for competitive technical skills,
                                        problem solving ability, adaptability, determination, and creativity.
                                    </p>

                                    <h2>Education</h2>
                                    <div style="padding-left:10px;">
                                        <div style="padding-left:10px;">
                                            <h3>
                                                University of Illinois, College of Engineering
                                                <div style="float:right; padding-right:10px;"><i>May 2013</i></div> <br/>
                                                M.S., Computer Science
                                            </h3>
                                            <h4>GPA: 3.92</h4>
                                            <p>
                                                <ul>
                                                    <li>Enrolled in accelerated 5 year combined BS / MS program</li>
                                                    <li>
                                                        Master's thesis modeling CoMoTo software similarity graphs as
                                                        heterogeneous temporal & similarity graphs, to investigate and predict
                                                        student collaboration patterns, jointly advised by Cinda Heeren
                                                        and <a href="http://www.cs.uiuc.edu/~hanj/">Jaiwei Han</a>
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                        <div style="padding-left:10px;">
                                            <h3>
                                                University of Illinois, College of Engineering
                                                <div style="float:right; padding-right:10px;"><i>May 2012</i></div> <br/>
                                                B.S., Computer Science, Minor in Mathematics
                                            </h3>
                                            <h4>GPA: 3.98</h4>
                                            <p>
                                                <ul>
                                                    <li>Senior Thesis titled <i>Efficiently Retrieving Relevant Pages for Fully-Qualified Entities</i>, advised by Kevin Chen-Chuan Chang</li>
                                                    <li>Software engineering certificate, specializing in databases and systems</li>
                                                    <li>Member of James Scholar honors program</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>

                                    <h2>Skills and Coursework</h2>
                                    <div style="padding-left:10px;">
                                        <h3>Current and Completed Coursework</h3>
                                        <div style="padding-left:10px;">
                                            <p>
                                                Data Mining, Machine Learning for Signal Processing, Cloud Computing,
                                                Software Engineering Seminar, Compilers & Programming Languages, Computer
                                                System Organization, Fundamental Algorithms Machine Learning, Software
                                                Engineering, Graph Theory, Text Information Systems, Distributed Systems,
                                                Theory of Computation, Database Systems, Operating Systems Programming,
                                                Data Structures and C++, Programming Studio
                                            </p>
                                        </div>
                                    </div>
                                    <div style="padding-left:10px;">
                                        <h3>Technical Skills</h3>
                                        <div style="padding-left:10px;">
                                           <p>JavaScript, Python, PHP, Java, C++, C, C#, SQL, Ocaml, Ruby, HTML, CSS, Matlab</p>
                                        </div>
                                    </div>

                                    <h2>Publications</h2>
                                    <div style="padding-left:10px;">
                                        <h3>
                                            <i>CoMoTo - The Collaboration Modeling Toolkit</i>
                                            <div style="float:right; padding-right:10px;"><i>ITICSE '11</i></div>
                                        </h3>
                                        <div style="padding-left:10px;">
                                               <p>
                                                   By Charlie Meyer, Cinda Heeren, Eric Shaffer, and Jon Tedesco
                                            </p>
                                        </div>
                                    </div>
                                    <div style="padding-left:10px;">
                                        <h3>
                                            <i>Developing Generalizable Principles for Object- <br/> Oriented Search Engine Interface Design</i>
                                            <div style="float:right; padding-right:10px;"><i>UIUC URJ Spring 2010</i></div>
                                        </h3>
                                        <div style="padding-left:10px;">
                                               <p>
                                                   By Jon Tedesco and Kim Cuong Pham
                                            </p>
                                        </div>
                                    </div>

                                    <h2>Awards</h2>
                                    <h3>
                                        <i style="padding-left:10px;">Siebel Scholar</i>
                                        <div style="float:right; padding-right:20px;"><i>Class of 2013</i></div>
                                    </h3>
                                    <h3>
                                        <i style="padding-left:10px;">Jump Trading Scholar</i>
                                        <div style="float:right; padding-right:20px;"><i>2011</i></div>
                                    </h3>
                                    <h3>
                                        <i style="padding-left:10px;">Crowe Horwath LLP Outstanding Computer Science Student</i>
                                        <div style="float:right; padding-right:20px;"><i>2011</i></div>
                                    </h3>
                                    <h3>
                                        <i style="padding-left:10px;">Daniel L. Slotnick Scholarship</i>
                                        <div style="float:right; padding-right:20px;"><i>2011</i></div>
                                    </h3>
                                    <h3>
                                        <i style="padding-left:10px;">Dean's List</i>
                                        <div style="float:right; padding-right:20px;"><i>2008 - Present</i></div>
                                    </h3>

                                    <h2>Experience</h2>

                                    <div style="padding-left:10px;">
                                        <h3>Facebook, Menlo Park, CA</h3>
                                        <div style="padding-left:10px;">
                                            <h3>
                                                <i>Software Engineering Intern</i>
                                                <div style="float:right; padding-right:10px;"><i>Summer 2012</i></div>
                                            </h3>
                                            <p>
                                                Implemented high-priority internal tool for performance monitoring that
                                                propagated user queries from real-time Memcached data store to MySQL-based
                                                persistent storage.
                                            </p>
                                            <p>
                                                Added user-facing features to news feed and similar unreleased product
                                                using PHP, JavaScript, and Facebook's social graph framework.
                                            </p>
                                            <p>
                                                Improved performance and interface of core like/comment feedback components
                                                of news feed and user profile with client-side rendering using AJAX, PHP,
                                                and JavaScript.
                                            </p>
                                            <p>
                                                Researched static resource caching using local storage, sessions storage,
                                                and IndexedDB
                                            </p>
                                        </div>
                                    </div>

                                    <div style="padding-left:10px;">
                                        <h3>DRW Trading Group, Chicago, IL</h3>
                                        <div style="padding-left:10px;">
                                            <h3>
                                                <i>Software Engineering Intern</i>
                                                <div style="float:right; padding-right:10px;"><i>Summer 2011</i></div>
                                            </h3>
                                            <p>
                                                Created open source NPAPI plugin SockIt, using C++ Boost-based plugin
                                                framework to perform low-level networking using client-side JavaScript
                                                to improve performance, improving the flexibility of the WebSockets
                                                implementation and arbitrary networking protocols. Using SockIt,
                                                implemented WebSockets protocol in client-side JavaScript and showed
                                                performance improvements over native implementation in high-throughput
                                                applications.
                                            </p>

                                            <p>
                                                Created JavaScript real-time visualizations of market data to assist
                                                trading decisions and strategy-making.
                                            </p>

                                            <p>
                                                Researched performance and efficiency of Intel's new AVX instruction
                                                set, compilers, and linear algebra libraries for floating point
                                                operation intensive applications, particularly for matrix-based
                                                algorithmic trading applications.
                                            </p>
                                        </div>
                                    </div>


                                    <div style="padding-left:10px;">
                                        <h3>
                                            Bank of America, Chicago, IL
                                            <div style="float:right; padding-right:10px;"><i>Summer 2010</i></div>
                                        </h3>
                                        <div style="padding-left:10px;">
                                            <h3>
                                                <i>Technology Analyst Intern in Capital Markets & FX Options Ask/GUI Team</i>
                                            </h3>

                                            <p>
                                                Developed GUIs for large-scale applications used for reporting and
                                                documentation of Bank of America’s FX and options trading in real time.
                                            </p>

                                            <p>
                                                Designed and implemented standalone code base for FTP reporting, and
                                                helped develop back-end of database-centric applications.
                                            </p>
                                        </div>
                                    </div>

                                    <div style="padding-left: 10px;">
                                        <h3>University of Illinois, Urbana, IL</h3>
                                        <div style="padding-left:10px;">
                                            <h3>
                                                <i>CS 242 Programming Studio Head Teaching Assistant</i>
                                                <div style="float:right; padding-right:10px;"><i>Fall 2012 - Present</i></div>
                                            </h3>
                                            <p>
                                                Instructs students in best programming practices, styles, and
                                                substantive programming projects by leading discussion sections, grades
                                                student submissions, and assigns final grades to students
                                            </p>

                                            <p>
                                                Manages over 20 undergraduate course staff members, the largest of any
                                                course in the department
                                            </p>

                                            <p>
                                                Maintains custom software used for discussion section management and
                                                grading student submissions
                                            </p>

                                            <p>
                                                Writes course assignments and helps establish focus of course curriculum
                                                each week
                                            </p>
                                        </div>

                                        <div style="padding-left:10px;">
                                            <h3>
                                                <i>Undergrad CS Research Liaison for P.U.R.E.</i>
                                                <div style="float:right; padding-right:10px;"><i>Fall 2010 - Present</i></div>
                                            </h3>
                                            <p>
                                                Recruits graduate and faculty mentors, undergraduates mentees, and acts
                                                as CS representative of college-wide undergraduate research organization
                                                PURE (Promoting Undergraduate Research in Engineering).
                                            </p>
                                        </div>

                                        <div style="padding-left:10px;">
                                            <h3>
                                                <i>Software Developer for CoMoTo Project</i>
                                                <div style="float:right; padding-right:10px;"><i>Fall 2010 - Present</i></div>
                                            </h3>
                                            <p>
                                                Overhauled and maintains interactive web-based collaboration
                                                visualization using JavaScript, d3.js, Bootstrap, and CoMoTo API
                                            </p>

                                            <p>
                                                Maintains Python-driven web application used for analyzing student code
                                                submissions, detecting software similarity, and analyzing collaboration
                                                patterns of students in undergraduate classes throughout the department
                                            </p>

                                            <p>
                                                Implemented and maintains Java application for visually analyzing
                                                student collaboration patterns to detect cheating in undergraduate
                                                classes
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <center>
                                    <div>
                                        <a style="font-size: 14px; padding-bottom:5px; text-transform: lowercase;" href="http://resume.jontedesco.net/">Current R&eacute;sum&eacute;</a>
                                        &nbsp;&nbsp;
                                        <img src="/static/admin/images/adobe_logo.gif" width=17> &nbsp;
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}