/* Yahoo! Media Player: Change default skin */
#ymp-player .ymp-color-main {
  background-color:transparent !important;
}

.ymp-skin {
  background-image:url(yahoo_media_player_background.png) !important;
}

.ymp-skin a {
    color: #0068ad !important;
    text-shadow: #000000 0px 0px;
}

#ymp-color-tray #ymp-color-text-tray {
    color: #0068ad !important;
}

#ymp-tray .ymp-color-tray {
    color: #0068ad !important;
    background-color: #dff6ff !important;
}

#ymp-tray-list {
    text-shadow: #000000 0px 0px;
}

/* Yahoo! Media Player: Set background color */
#ymp-player .ymp-color-main,
#ymp-tray .ymp-color-tray {
  background-color: #dff6ff !important;
}

/* Yahoo! Media Player: Playlist colors */
/* Default color for playlist entries */
#ymp-tray .ymp-tray-track {
  color: #0068ad !important;
}

.ymp-color-text-main: {
    color: #0066ff;
}

/* Highlighted track */
#ymp-tray .ymp-tray-track:hover {
  color:#76c6fe !important;
  background-color:transparent !important;
}

/* Currently playing track */
#ymp-tray .ymp-tray-track.playing,
#ymp-tray .ymp-tray-track.playing:hover {
  color:#dff6ff !important;
  background-color: #0066ff !important;
}

/* Avoid using animated images (and reduce loading time) */
#ymp-body #ymp-btn-max span.ymp-animarrow {
  background-position:-119px -80px !important;
}
a.ymp-btn-page-target em.ymp-skin,
a:hover.ymp-btn-page-target em.ymp-skin,
a:active.ymp-btn-page-target em.ymp-skin {
  background-position:-624px -17px !important;
}


/* Hide yahoo logo */
#ymp-yahoo-logo {display: none !important; width: 1px;}
#ymp-ymp-control-logo {left: 5px;}

/* Yahoo! Media Player: */
/* Remove block with relevant information */
#ymp-relevance { display:none !important; }
.ymp-player-max #ymp-body { width:570px !important; }
.ymp-player-max #ymp-body #ymp-body-strip { width:557px !important; }
.ymp-player-max #ymp-body #ymp-body-base  { width:560px !important; }

/* Hide 'close window' button */
#ymp-btn-close { display:none !important; }

/* Hide 'pop-up window' button */
#ymp-btn-pop { display:none !important; }

/* Yahoo! Media Player: Hide album art */
#ymp-meta-image { display:none !important; }
#ymp-body #ymp-meta-top,
#ymp-body #ymp-meta-bottom {
  left:8px !important;
  width:330px !important;
}
