<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

{# The meta header content of the page#}
{% include 'widgets/meta_header.html' %}

{# Any javascript to be executed when the page is loaded #}
<body {% block onload %} {% endblock %}>
<noscript>
    <center><h1><br/><br/>Please enable JavaScript!</h1></center>
</noscript>
<div id="wrapper">
    <div id="wrapper-bottom">

        {# The visible header section of the page #}
        {% include 'widgets/header.html' %}

        <div id="page" class="container">

            {# The main content of the page #}
            {% block content %} {% endblock %}

            <div id="sidebar">

                {# The navigation of the page #}
                {% include 'widgets/menu.html' %}

                {# The sidebar common to each page #}
                {% block sidebar %}
                    {% include 'widgets/sidebar.html' %}
                {% endblock %}

            </div>
        </div>
    </div>
</div>

{# The progress indicator popup for searching with AJAX #}
{% include 'widgets/popup.html' %}

{# Copyright footer #}
{% include 'widgets/footer.html' %}

</body>
<script>

    {# Javascript code executed after the page is loaded #}
    {% block after_load %} {% endblock %}

    {# Hide the loading popup #}
    {#        $("#popup").hide();#}
    {#        $("#backgroundPopup").hide();#}

</script>
</html>
