{% extends "page.html" %}

{% block content %}

    <div id="content">
        <div class="bgtop">
            <div class="bgbtm">
                <div id="bg1">
                    <div id="bg2">
                        <div id="bg3">
                            <div id="box1" class="box-style1">
                            <h2 class="title"><span>page</span> not found</h2>
                            <p class="byline">Sorry, the page you requested could not be found!</p>

                                <center>
                                    <div class="content">
                                        <div style="height:300px;">
                                            <br/><br/><br/><br/>
                                            <img
                                                width=500
                                                src="/static/admin/images/404.png"
                                                alt="404 Page Not Found Error"
                                            />
                                        </div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block sidebar %}
    {% include 'widgets/short_sidebar.html' %}
{% endblock %}
